@model IEnumerable<TourCore.Models.ViewModels.StaffViewModel>

@{
    ViewData["Title"] = "AllStaff";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center;color:brown">Danh sách nhân viên </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTour", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "SeeContractDetail", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteTour", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
